.task--create--card {
    min-height: 200px;
    width: 70%;
    margin: 0 auto;
    justify-content:left;
}

.register--todo{
    height: 30px;
    width: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 2px 2px lightcoral;
    position: absolute;
    top: 50px;
    margin-left: 20px;
}

.card--form {
    display: flex;
    flex-direction: column;
    background-color:rgb(217, 159, 159);
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    border-radius: 20px;
}

.form__title{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form__title input{
    margin-top: -15px;
    height: 30px;
}

.form__description{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form__description input{
    margin-top: -15px;
    height: 30px;
}

.form__btn{
    width: 45px;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: medium;
    margin-top: 10px;
    align-self: flex-end;
}

