.todo--incomplete {
  min-height: 120px;
  width: 100%;
  background-color: rgb(167, 223, 204);
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-top: 20px;
}

.todo--toggle-completed {
  margin-right: 20px;
  float: right;
}

.todo--incomplete .task--name {
  font-size: xx-large;
  padding-bottom: 10px;
}

.todo--incomplete .task--detail {
  font-size: medium;
}

.todo--completed .task--name {
  font-size: xx-large;
  text-decoration: line-through;
  color: gray;
  padding-bottom: 10px;
}

.todo--completed .task--detail {
  font-size: medium;
  text-decoration: line-through;
  color: gray;
}

.todo--completed {
  min-height: 120px;
  width: 100%;
  margin: 0 auto;
  justify-content: left;
  background-color: rgb(211, 218, 215);
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  padding-top: 20px;
  margin-top: 10px;
}
